/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/



.question {

}

.question-container {

}

.correct {
  color: #080;
}

.incorrect {
  color: #a00;
}

#quiz-form {
  margin: 20px;
  padding: 10px 5px;
  background-color: #ccc;
  border: 2px solid #000;
}